@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Falta aplicar método que inice la partida-->
<div class="cartel-inicio">
    <form method="post">
        <div>
            <h4>Listo para iniciar la aventura?</h4>
            <a class="boton" asp-controller="Juego" asp-action="Jugar">Iniciar partida</a>
        </div>
    </form>
</div>