@*
*@
@{
}
<!--Pongo el conectar Wallet como ejemplo y un link random-->
<div class="cartel-inicio">
    <form method="post">
        <div>
            <h4>Listo para iniciar la aventura?</h4>
            <a class="boton" asp-controller="Inicio" asp-action="Home">Conectar Wallet</a>
            <a class="link" href="https://n26.com/es-es/wallet" target="_blank">¿Qué es una wallet?</a>
        </div>
    </form>
</div>