.principal {
    margin-top: 2em;
    margin-bottom: 2em;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
}

.contenedor-historia {
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 4px ridge #155639;
    overflow: hidden;
    background-color: #000;
}

.contenedor-imagen img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    display: block;
}

.contenedor-texto {
    background-color: #000;
    color: #fff;
    border: 2px ridge #155639;
    padding: 0.5em;
    font-size: 18px;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
}

.contenedor-opciones {
    width: 700px;
    display: flex;
    margin-top: 1em;
    align-self: center;
    justify-content: space-between;
    column-gap: 1em;
}

.contenedor-opciones button {
    align-items: center;
    background-color: #000;
    border: 2px solid #155639;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, #1a1a1a 0 -3px 0 inset;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    padding: 0 16px;
    font-size: 18px;
    line-height: 1;
    transition: transform .15s ease, box-shadow .15s ease;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
}

.contenedor-opciones button:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, #1F7D53 0 -3px 0 inset;
    transform: translateY(-2px);
}

.contenedor-opciones button:active {
    box-shadow: #27391C 0 3px 7px inset;
    transform: translateY(2px);
}


#btn-finalizar {
    width: 200px;
    background-color: #1b1b1b;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 3px solid #255F38;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    transition: none;
    image-rendering: pixelated;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

#btn-finalizar:hover {
    box-shadow: 0 6px 14px rgba(78, 49, 170, 0.4);
    background-color: #255F38;
}