* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono",monospace;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    background-image: url('../fondoTemp.gif');
    background-size: cover;
    background-position: center; 
    color:aliceblue
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #1F7D53;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
   box-shadow: #D6D6E7 0 3px 7px inset;
   transform: translateY(2px);
}

.cartel-inicio {
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    background: black;
    color: white;
    border: 4px solid #27391C;
    box-shadow: none;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('pixel-bg.png');
    background-size: cover;
    animation: flotar 4s ease-in-out infinite;
    position: relative;
    row-gap: 0.5em;
}

.descripcion {
    font-size: small;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.alerta {
    color: red;
    font-weight: bold;
    font-size: small
}

.cartel-inicio button {
    background-color: #1b1b1b;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: 3px solid #255F38;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    transition: none;
    image-rendering: pixelated;
    width: 200px;
    text-align: center;
}

.cartel-inicio button:hover {
    box-shadow: 0 6px 14px rgba(78, 49, 170, 0.4);
    background-color: #255F38;
    color: #fff;
    cursor:pointer;
}

.cartel-inicio .link {
    color: #255F38;
}

.cartel-inicio .link:hover {
    text-decoration: underline;
    color: #40995D;
    cursor: pointer;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}