<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - practica</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/juego.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Inicio" asp-action="Index"><img src="~/logito.png" alt="Logo" /></a>
        <nav>
            <!-- Comento esto por si usamos solo el inicio de sesión con la wallet!
            <a asp-area="" asp-controller="Inicio" asp-action="Login">Iniciar Sesión</a>
            <a asp-area="" asp-controller="Inicio" asp-action="Register">Registrarse</a>
            -->
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-links">
            <a href="#">Sobre Nosotros</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <a href="#">Política de Privacidad</a>
        </div>
        <p>&copy; 2025 Tp Progra Web 2</p>
    </footer>
    <script>
        const texto = document.getElementById("texto-historia").textContent.trim();
        const pVisible = document.getElementById("texto-visible");
        const temporizador = document.getElementById("temporizador");
        const contenedorOpciones = document.getElementById("opciones");

        let i = 0;

        function escribir() {
          if (i < texto.length) {
            pVisible.textContent += texto.charAt(i);
            i++;
            setTimeout(escribir, 50);
          } else {
            iniciarTemporizador(); // cuando termina de escribir, comienza el tiempo
          }
        }

                function iniciarTemporizador() {
            let tiempo = 15;
            temporizador.style.display = "block";
            contenedorOpciones.style.display = "block";

            const barraProgreso = document.getElementById("progreso");
            barraProgreso.style.width = "100%";

            const intervalo = setInterval(() => {
                tiempo--;

                const porcentaje = (tiempo / 15) * 100;
                barraProgreso.style.width = porcentaje + "%";

                if (tiempo === 0) {
                    clearInterval(intervalo);
                    barraProgreso.style.width = "0%";
                    window.location.href = '@Url.Action("Op1", "Inicio")';
                }
            }, 1000);
        }

        escribir();
    </script>
</body>
</html>