﻿@using ProyectoBlockChain.Logica.Core
@model List<CapituloJugadoDTO>

<div class="contenedor-final">
<h2>¡Juego finalizado!</h2>

@foreach (var cap in Model)
{
    <div class="opcion-resultado">
        <p><strong>Capítulo:</strong> @cap.Descripcion</p>
        <p><strong>Opción elegida:</strong> @cap.OpcionElegida</p>
    </div>
}

<a asp-controller="Inicio" asp-action="Index" class="btn btn-primary">
    Volver al inicio
</a>
</div>