<div class="cartel-inicio">
    <h4>Id partida: idFalso1234</h4>
    <form method="post">
        <div>
            <a class="boton" asp-controller="Juego" asp-action="Jugar">Iniciar Partida</a>
        </div>
    </form>
</div>
